/* #F7DFD4

MACARON

#EABCAC

BLUSH

#E2B091

NUDE

#874E4C

CHOCOLAT

#32485C

CAFÉ NOIR */


* {
  font-family: Geneva;
  margin: 0;

}

.container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #874E4C;
}

.wrapper {
  width: 500px;
  background-color: #32485C;
  min-height: 650px;
  max-width: 450px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px rgba(48, 47, 47, 0.75);
  margin-bottom: 10px;
}

h1 {
  color: #F7DFD4;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  color: #F7DFD4;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* form */
.task-input {
  outline: none;
  width: 260px;
  padding: 10px;
  margin-right: 20px;
  font-size: 20px;
  border: 1px solid #F7DFD4;
  background-color:#F7DFD4 ;
  color: #874E4C;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px rgba(48, 47, 47, 0.75);
}

.btn-add {
  outline: none;
  width: 60px;
  background-color: #F7DFD4;
  color: #874E4C;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 10px;
  box-shadow: 0px 2px 10px 0px rgba(48, 47, 47, 0.75);
  border: 1px solid #F7DFD4;   
}

/* list */
.to-do-item {
  display: flex;
  /* margin-bottom: 20px; */
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid #F7DFD4;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px rgba(48, 47, 47, 0.75);
}

.list{
  border: none;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
  width: 280px;
  background-color: #32485C;
  color: #F7DFD4;
}

.completed {
  text-decoration: line-through;
  color: #874E4C;
  text-decoration-style: solid;
  opacity: 0.7;
}

.btn-complete{
  color: #ceefae;
  margin-right: 10px;
}


.btn-delete {
  color: #874E4C;
  margin-right: 10px;
}

.btn-edit {
  color: #e5e0d2;
  margin-right: 10px;
}

.btn-complete, .btn-delete, .btn-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border-radius: 50%;
  margin-top: 10px;
}

input:focus,
button:focus {
  outline: none;
}